{% extends "base.html" %}

{% block title %}
Config
{% endblock %}
{% block localName %}
    {{ localOptions['name'] }}
{% endblock %}
{% block CSS %}
<link rel="stylesheet" href="static/CSS/config.css">
{% endblock %}

{% block bodyContent %}
<div id="grid-top">
    <p id="title">Edit 
        {% block localNameHeader %}
            {{ localOptions['name'] }}
        {% endblock %}
        Config
    </p>
</div>

<div id="grid-left">
    <form method="POST" action="/editConfig">
        <label>Display Name</label><br>
        <input type="text" id="yellowField" name="LocalDisplayName" value="{{ currentConfigDict['localdisplayname'] }}"><br><br>
        <label>Background Color</label><br>
        <input type="color" id="yellowField" name="backColor" value="{{ currentConfigDict['backgroundcolor'] }}"><br><br>
        <br>
        <br>
        <label>LDAP IP Address</label><br>
        <input type="text" id="yellowField" name="ipAdd" value="{{ currentConfigDict['ip_address'] }}" required><br><br>
        <label>DN</label><br>
        <input type="text" id="yellowField" name="DN" value="{{ currentConfigDict['dn'] }}" required><br><br>
        <label>Password</label><br>
        <input type="text" id="yellowField" name="PW" value="{{ currentConfigDict['pw'] }}" required><br><br>
        <br>
        <br>
        <label>Search Base One (DN)</label><br>
        <input type="text" id="yellowField" name="SearchBaseOne" value="{{ currentConfigDict['searchbaseone'] }}"><br><br>
        <label>Search Base One (Name)</label><br>
        <input type="text" id="yellowField" name="SearchBaseOne_Name" value="{{ currentConfigDict['searchbaseone-name'] }}"><br><br>
        <label>Search Base Two (DN)</label><br>
        <input type="text" id="yellowField" name="SearchBaseTwo" value="{{ currentConfigDict['searchbasetwo'] }}"><br><br>
        <label>Search Base Two (Name)</label><br>
        <input type="text" id="yellowField" name="SearchBaseTwo_Name" value="{{ currentConfigDict['searchbasetwo-name'] }}"><br><br>
        <br>
        <br>
        <input type="submit" id="subButton" name="submitForm" value="Confirm">
    </form>

</div>

<div id="grid-right">
    <form method="POST" action="/">
        <button class="yellowButton" value="cancelConfigEdit" name="cancelConfigEdit">Cancel</button>
    </form>

    {% if currentConfig != None %}
    <br>
    <table>
        <tr>
            <td>CURRENT CONFIG:</td>
        </tr>
        {% for result in currentConfig %}
        <tr>
            <td>{{ result }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <p>{{ blueMessage }}</p>

    <p id="grayText">
        Copyright 2021. <br>
    </p>
</div>
{% endblock %}