{% extends "base.html" %}

{% block title %}
Delete
{% endblock %}
{% block localName %}
    {{ localOptions['name'] }}
{% endblock %}
{% block CSS %}
<link rel="stylesheet" href="static/CSS/deleteConfirm.css">
{% endblock %}

{% block bodyContent %}
<div id="grid-top">
    <p id="title">Confirm Deletion</p>
</div>

<div id="grid-left">
    <form method="POST" action="/deleteEntryConfirmed">
        <button class="yellowButton" value="{{ entryInfo }}" name="deleteConfirmed">Delete</button>
    </form>
    <p>Caution! This action is permanent and cannot be undone</p>
    <p>{{ blueMessage }}</p>
</div>

<div id="grid-right">
    <form method="POST" action="/">
        <button class="yellowButton" value="cancelDelete" name="cancelDelete">Cancel</button>
    </form>

    <p>{{ entryInfo }}</p>
    <p>
        Copyright 2021. <br>
    </p>
</div>
{% endblock %}