{% extends "base.html" %}

{% block title %}
Delete
{% endblock %}
{% block localName %}
    {{ localOptions['name'] }}
{% endblock %}
{% block CSS %}
<link rel="stylesheet" href="static/CSS/delete.css">
{% endblock %}

{% block bodyContent %}
<div id="grid-top">
    <p id="title">Delete 
        {% block localNameHeader %}
            {{ localOptions['name'] }}
        {% endblock %}
        LDAP Entry
    </p>
</div>

<div id="grid-left">
    <form method="POST" action="/deleteSearch">
        <label>Search Field:</label><br>
        <input type="radio" id="" name="searchField" value="lName">
        <label>Last Name</label><br>
        <input type="radio" id="" name="searchField" value="fName">
        <label>First Name</label><br>
        <input type="radio" id="" name="searchField" value="pNum">
        <label>Phone Number</label><br>
        <input type="radio" id="" name="searchField" value="notes">
        <label>Notes / Description</label><br>
        <br>
        <br>
        <label>Search Base:</label><br>
        <input type="radio" id="" name="searchBase" value="baseOne" required>
        <label>Base One    {{ baseOneName }}</label><br>
        <input type="radio" id="" name="searchBase" value="baseTwo" required>
        <label>Base Two    {{ baseTwoName }}</label><br>
        <br>
        <br>
        <label>Querry</label><br>
        <input type="text" id="yellowField" name="searchString" required><br><br>
        <br>
        <br>
        <input type="submit" id="subButton" name="submitForm" value="Search">
    </form>

</div>

<div id="grid-right">
    <form method="POST" action="/">
        <button class="yellowButton" value="cancelDelete" name="cancelDelete">Cancel</button>
    </form>

    <p id="blueText">{{ blueMessage }}</p>

    <p id="whiteText">{{ searchResults }}</p>

    {% if searchTable != None %}
    <table id="whiteTable">
        <tr>
            <th>Delete</th>
            <th>First Name (cn)</th>
            <th>Last Name (sn)</th>
            <th>Phone Number</th>
            <th>Description</th>
        </tr>
        {% set count = [] %}
        {% for entry in searchTable %}
            <tr>
                <td>
                    <form method="POST" action="/deleteEntry">
                        {% set nCounter = count|length %}
                        <button class="delButton" value="{{ DNlist[1][nCounter] }}" name="deleteEntry">DEL</button>
                    </form>
                    {% set __ = count.append(1) %}
                </td>
                {% for value in entry %}
                    <td class="col-md-2">{{ entry[value] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <p id="grayText">
        Copyright 2021. <br>
    </p>
</div>
{% endblock %}