{% extends "base.html" %}

{% block title %}
Start
{% endblock %}

{% block localName %}
    {{ localOptions['name'] }}
{% endblock %}

{% block CSS %}
<link rel="stylesheet" href="static/CSS/index.css">
{% endblock %}

{% block bodyContent %}
<div id="grid-top">
    <p id="title">
        {% block localNameHeader %}
            {{ localOptions['name'] }}
        {% endblock %}
        Internal Phone Functions
    </p>
</div>

<div id="grid-left">
    <form method="POST" action="/">
        <button class="yellowButton" value="SearchEntry" name="SearchEntry">Search Directory</button>
        <br>
        <button class="yellowButton" value="DelEntry" name="DelEntry">Edit Directory</button>
        <br>
        <button class="yellowButton" value="AddEntry" name="AddEntry">Add Directory</button>
        <br>
        <button class="yellowButton" value="SendSMS" name="SendSMS">Send SMS</button>

    </form>
    <p>{{ blueMessage }}</p>
</div>

<div id="grid-right">
    <form method="POST" action="/">
        <button class="yellowButton" value="MainConfig" name="MainConfig">Config</button>
    </form>

    <p>
        Copyright 2021. v2.0.1<br>
    </p>
</div>
{% endblock %}