{% extends "base.html" %}

{% block title %}
Search
{% endblock %}

{% block CSS %}
<link rel="stylesheet" href="static/CSS/search.css">
{% endblock %}

{% block bodyContent %}
<div id="grid-top">
    <p id="title">Search LDAP</p>
</div>

<div id="grid-left">
    <form method="POST" action="/search">
        <label>Search Field:</label><br>
        <input type="radio" id="" name="searchField" value="lName">
        <label>Last Name</label><br>
        <input type="radio" id="" name="searchField" value="fName">
        <label>First Name</label><br>
        <input type="radio" id="" name="searchField" value="pNum">
        <label>Phone Number</label><br>
        <input type="radio" id="" name="searchField" value="notes">
        <label>Notes / Description</label><br>
        <br>
        <br>
        <label>Search Base:</label><br>
        <input type="radio" id="" name="searchBase" value="baseOne">
        <label>Base One    {{ baseOneName }}</label><br>
        <input type="radio" id="" name="searchBase" value="baseTwo">
        <label>Base Two    {{ baseTwoName }}</label><br>
        <br>
        <br>
        <label>Querry</label><br>
        <input type="text" id="yellowField" name="searchString" required><br><br>
        <br>
        <br>
        <input type="submit" id="subButton" name="submitForm" value="Search">
    </form>

</div>

<div id="grid-right">
    <form method="POST" action="/">
        <button class="yellowButton" value="cancelSearch" name="cancelSearch">Cancel</button>
    </form>

    <p id="blueText">{{ blueMessage }}</p>

    <p id="whiteText">{{ searchResults }}</p>

    <p id="grayText">
        Copyright 2021. <br>
    </p>
</div>
{% endblock %}