{% extends "base.html" %}

{% block title %}
Search
{% endblock %}
{% block localName %}
    {{ localOptions['name'] }}
{% endblock %}
{% block CSS %}
<link rel="stylesheet" href="static/CSS/sendSMS.css">
{% endblock %}

{% block bodyContent %}
<div id="grid-top">
    <p id="title">Send Internal  
        {% block localNameHeader %}
            {{ localOptions['name'] }}
        {% endblock %}
        SMS
    </p>
</div>

<div id="grid-left">
    <form method="POST" action="/sendSMS">
        <label>Send To:</label><br>

        {% for result in roomList %}
        <input type="radio" id="" name="dest_id" value={{ result[0] }}>
        <label>{{ result[1] }}</label><br>
        {% endfor %}

        <br>
        <br>
        <label>Message</label><br>
        <input type="search" id="yellowField" name="message" required><br><br>
        <br>
        <br>

        <label>Mass Message:</label><br>
        <input type="radio" id="" name="send_all" value="false_send_all" required checked>
        <label>Only send to selected</label><br>
        <input type="radio" id="" name="send_all" value="true_send_all" required>
        <label>Send to all</label><br>

        <br>
        <br>
        <input type="submit" id="subButton" name="submitForm" value="Send SMS">
    </form>

</div>

<div id="grid-right">
    <form method="POST" action="/">
        <button class="yellowButton" value="cancelSMS" name="cancelSMS">Cancel</button>
    </form>

    <p id="blueText">{{ blueMessage }}</p>
    
    <p id="grayText">
        Copyright 2021. <br>
    </p>
</div>
{% endblock %}
