#title {
    color: var(--color-white);
    font-size: 3vmax;

    margin: 0;
}

#grid-left {
    color: var(--color-white);
}
#grid-right {
    color: var(--color-white);
}

#blueText {
    color: var(--color-blue);
}
#grayText {
    color: var(--color-gray);
}
#whiteText {
    color: var(--color-white);
}

#yellowField {
    background-color: var(--color-yellow);
    margin-bottom: 5px;
}
#subButton {
    background-color: var(--color-drkgray);
    color: var(--color-white);
    border-radius: 0;
    font-size: 1vmax;
}

#whiteTable {
    color: var(--color-white);
}
#whiteTable tr, th, td {
    padding: 15px;
}

.delButton {
    color: var(--color-yellow);
    border-style: solid;
    border-color: var(--color-gray);
    border-radius: 4px;
    border-width: 1px;
    background: transparent;

    text-align: center;
    font-family: 'ave';
    font-size: 1vmax;
    
    padding: 3px;
    margin: 4px;
    width: 4vmax;
}